<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Bitter:400,400italic,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body onload="getLocation()">
    <div class="container-fluid">
    <div id="headerwrap">
      <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h1><%= title %></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h2>find live music around you</h2>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div id="clock"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div id="mapholder"></div>
        <div id="div"></div>
        <div id="ui"></div>
        <div id="text"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <script src="http://maps.googleapis.com/maps/api/js"></script>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <button onclick="getLocation()">re-center the map</button>
      </div>
    </div>

    <script src="/javascripts/main.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/currentgeo.js" type="text/javascript" charset="utf-8"></script>
    </div>
  </body>
</html>
