* {
  background-color: #403D39;
  font-family: 'Passion One', cursive;
  text-align: center;
  color: white;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow-x: hidden;
  overflow: auto;
  height: 100%;
}

h1 {
  color: #FFFCF2;
}

h2 {
  color: #EB5E28;
}
