* {
  font-family: 'Passion One', cursive;
  text-align: center;
  color: white;
  margin: 0 auto;
}

html {
  overflow: hidden;
  height: 100%;
  background-color: #06AED5;
}

body {
  overflow-x: hidden;
  overflow: auto;
  height: 100%;
  background-color: #086788;
  max-width: 680px;
  margin: 0 auto;
}

h1 {
  color: #FFF1D0;
  font-size: 8.5em;
  max-width: 100%;
  margin-bottom: 0;
  max-height: 110px;
}

h2 {
  color: #F0C808;
  margin: 0 auto;
  font-size: 3em;
}

button {
  background-color: #DD1C1A;
  font-size: 20px;
  margin-top: 2%;
}

#mapholder {
  margin: 2% auto;
  max-height: auto;
  max-width: 100%;
}
