* {
  font-family: 'Passion One', cursive;
  text-align: center;
  color: white;
  margin: 0 auto;
}

html {
  overflow: hidden;
  height: 100%;
  background-color: #06AED5;
}

body {
  overflow-x: hidden;
  overflow: auto;
  height: 100%;
  background-color: #086788;
  max-width: 680px;
  margin: 0 auto;
}

h1 {
  color: #FFF1D0;
  max-width: 100%;
  margin: 0 auto;
  max-height: 98px;
  font-size: 7.7em;
  padding: 0;
}

h2 {
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
  color: #F0C808;
  margin: 0 auto;
  font-size: 1.6em;
  max-width: 100%;
}

button {
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
  background-color: #DD1C1A;
  font-size: 1em;
  margin-top: 4.5%;
}

#clock {
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
  font-size: .87em;
  margin: .75em auto;
  padding: 0;
}

@media (min-width: 375px) and (orientation: landscape) {
  h1 {
    font-size: 12em;
    max-height: 150px;
  }
  h2 {
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    font-size: 2.35em;
    max-width: 100%;
  }

  #clock {
    font-family: 'Droid Sans', sans-serif;
    font-size: 1.13em;
    max-width: 100%;
    margin: .5em auto;
  }

  button {
  font-family: 'Droid Sans', sans-serif;
  font-size: 1.25em;
  margin-top: .55em;
  }
}

.infowindow {
  color: black;
  font-family: 'Droid Sans', sans-serif;
  padding: 2px;
  text-align: center;
  margin: 0 auto;
  max-width: 300px;
}

#artist {
  color: #06AED5;
  font-size: 16px;
  font-weight: bold;
  padding:0;
}

#mapholder {
  max-height: auto;
  max-width: 100%;
  max-height: 100%;
  min-width: 200px;
  width: 50%;
  min-height: 200px;
  height: 80%;
}
