* {
  font-family: 'Passion One', cursive;
  text-align: center;
  color: white;
  margin: 0 auto;
}

html {
  overflow: hidden;
  height: 100%;
  background-color: #06AED5;
}

body {
  overflow-x: hidden;
  overflow: auto;
  height: 100%;
  background-color: #086788;
  max-width: 680px;
  margin: 0 auto;
}

h1 {
  color: #FFF1D0;
  max-width: 100%;
  margin: 0 auto;
  max-height: 90px;
  font-size: 6.5em;
}

h2 {
  color: #F0C808;
  margin: 0 auto;
  font-size: 2.5em;
}

@media (min-width: 375px) and (orientation: landscape) {
  h1 {
    font-size: 10em;
    max-height: 130px;
  }
  h2 {
    font-size: 3em;
  }
}

button {
  background-color: #DD1C1A;
  font-size: 20px;
  margin-top: 1.5%;
}

.clock {
  font-size: 25px;
  margin-top: .3em;
  margin-bottom: 0;
  padding: 0;
  max-height: 25px;
}

#clock {
  font-size: 25px;
  margin-top: 0;
  padding: 0;
}

#mapholder {
  margin: .5em auto;
  max-height: auto;
  max-width: 100%;
}
